<form method="POST" action="/contact">
    Your name: <input type="text" name="name"/><br/>
    Your email: <input type="email" name="email"/><br/>
    Your messge: <br/>
    <textarea name="message"></textarea><br/>
    <button type="submit" name="submit">Contact Us</button>
</form>